language: go
go:
  - 1.7
  - 1.8
  - 1.9
  - "1.10"
  - 1.11
  - tip
before_install:
  - go get -v github.com/axw/gocov/gocov
  - go get -v github.com/mattn/goveralls
  - if ! go get code.google.com/p/go.tools/cmd/cover; then go get golang.org/x/tools/cmd/cover; fi
script:
  - goveralls -v -race -service=travis-ci -repotoken=$COVERALLS_TOKEN || go test -race -v
matrix:
  allow_failures:
    - go: 1.7
    - go: tip

